---
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const langMap = {
  ru: {
    id: "ru",
    label: "🇷🇺",
  },
  en: {
    id: "en",
    label: "🇬🇧",
  },
};

const optionsToRender = Object.values(langMap)
  .filter((option) => option.id !== lang)
  .map((option) => ({
    ...option,
  }));
---

<div class="language-picker">
  <div class="language-select">
    <div class="language-select__selected">{langMap[lang].label}</div>
    <div class="language-select__options">
      {
        optionsToRender.map((option) => (
          <button class="language-select__option" data-lang-value={option.id}>
            {option.label}
          </button>
        ))
      }
    </div>
  </div>
</div>

<script define:vars={{ lang }}>
  const options = document.querySelectorAll("[data-lang-value]");

  options.forEach((option) => {
    option.addEventListener("click", () => {
      const btnLang = option.dataset.langValue;
      const newLoc = window.location.pathname.replace(
        `/${lang}/`,
        `/${btnLang}/`
      );
      window.location.replace(newLoc);
    });
  });
</script>

<style>
  .language-select {
    position: relative;
    width: 46px;
  }

  .language-select__selected {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid var(--lang-option-bg, #eee);
    background-color: var(--lang-option-bg, #eee);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .language-select__options {
    visibility: hidden;
    pointer-events: none;
    border-radius: 4px;
    opacity: 0;
    transform: translate(0, -50%);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--lang-option-bg, #eee);
    padding: 6px;
    flex-direction: column;
    gap: 4px;
    z-index: -1;
    transition: 0.4s ease;
  }

  .language-select__option {
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background: var(--lang-option-bg, #eee);
    border: 1px solid var(--lang-option-bg, #eee);
    background-color: var(--lang-option-bg, #eee);
    cursor: pointer;
  }

  .language-select__option:hover {
    transform: scale(1.1);
  }

  .language-select:hover .language-select__options {
    /* todo */
    display: flex;
    pointer-events: initial;
    visibility: visible;
    transform: none;
    opacity: 1;
  }
</style>
